.admin-main-layout {
    display: flex;
  
    .admin-dashboard {
      display: flex;
      flex-wrap: wrap;
      margin: 150px;
      gap: 50px;
      padding: 30px;
      width: calc(100% - 250px);
    }
  }
  