.employee-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    > div {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  
    @media screen and (max-width: 768px) {
      > div {
        width: 100%;
      }
    }
  }
  